.primary {
  padding: 0 15px;
  margin: 0;
  height: 35px;
  border: none;
  border-radius: 3px;
  outline: none;

  background-color: #784cc0;
  color: white;
  font-size: 14px;
  font-weight: 400;

  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #976be2;
  }

  &:focus {
    background-color: #5d3999;
  }

  .icon {
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.action {
  padding: 0;
  margin: 0;
  width: 44px;
  height: 44px;
  border: 1px solid #ceced2;
  border-radius: 3px;
  outline: none;
  opacity: 0.7;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: transparent;
  color: #7a7a7a;

  &:hover {
    opacity: 1;
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.borderless {
  border: none;
}
